@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Noto Sans TC";
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-slide {
  height: 100vh;
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 75px 85px 50px;
  margin: 4.5em 0;
}

.left-slide .text-1 {
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  margin: 5px 0;
}

.left-slide .text-2 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.left-slide .text-3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.left-slide .text-3 span {
  color: crimson;
  font-weight: 500;
}

.left-slide p {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 26px;
}

.left-slide .social {
  height: 24px;
  margin-top: 38px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 20px;
}

.left-slide .social a {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  padding: 0;
  font-size: 30px;
}
a i {
  color: #d0d0d0;
}

.left-slide .btn {
  padding: 15px 40px;
  border-color: crimson;
  border-radius: 10px;
  background-color: crimson;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: 0;
  text-decoration: none;
}

.left-slide .btn:hover {
  color: crimson;
  border: 2px solid;
  outline-color: crimson;
  background: none;
}

.right-slider {
  height: 100%;
  width: 100%;
}

.right-slide {
  height: 100vh;
  width: 65%;
  position: relative;
  top: 0;
  left: 35%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.content-1 {
  width: 100%;
  height: 100vh;
  padding: 70px 80px;
  overflow: hidden;
}

.content-1 img {
  width: 38%;
  height: auto;
  margin-left: 28%;
}

.content-1 .text-slide {
  display: flex;
  flex-direction: column;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-1 .text-slide-2 {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-1 .text-slide-3 {
  margin-top: 10px;
  float: left;
  color: white;
  line-height: 12px;
}

.content-1 a {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-right: 10px;
  padding: 0;
  font-size: 25px;
  float: right;
}

.content-1 a i {
  color: #d0d0d0;
}

.content-2 {
  width: 100%;
  height: 100vh;
  padding: 80px 80px 100px;
}

.content-2 img {
  width: 75%;
  height: auto;
  margin: 45px auto -60px;
  display: block;
}

.content-2 .text-slide {
  display: flex;
  flex-direction: column;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-2 .text-slide-2 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-2 .text-slide-3 {
  margin-top: 10px;
  float: left;
  color: white;
  line-height: 12px;
}

.content-2 a {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-right: 10px;
  padding: 0;
  font-size: 25px;
  float: right;
}

.content-2 a i {
  color: white;
}

.content-3 {
  width: 100%;
  height: 100vh;
  padding: 80px 80px;
}

.content-3 img {
  width: 75%;
  margin: 45px auto -60px;
  display: block;
}

.content-3 .text-slide {
  display: flex;
  flex-direction: column;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-3 .text-slide-2 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  float: none;
  clear: none;
  color: white;
  line-height: 12px;
}

.content-3 .text-slide-3 {
  margin-top: 10px;
  float: left;
  color: white;
  line-height: 12px;
}

.content-3 a {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-right: 10px;
  padding: 0;
  font-size: 25px;
  float: right;
}

.content-3 a i {
  color: #d0d0d0;
}

.community {
  height: auto;
  width: auto;
  padding: 65px 65px 65px 100px;
}

.community .font-end {
  margin-bottom: 30px;
}

.community .back-end {
  margin: 30px 0;
}

.community .other-skills {
  margin: 30px 0;
}

.community h3 {
  font-size: 30px;
  font-family: "Paytone One", sans-serif;
  color: #3c3c3c;
}

.skills i {
  font-size: 40px;
  margin-top: 10px;
  color: #adadad;
  line-height: 80px;
  margin-right: 25px;
}

.devider {
  height: 3px;
  width: 100%;
  /*border: solid;
    border-color: #f8bff8;*/
  background-color: #bebebe;
}

.footer-text {
  padding: 12px;
  text-align: center;
  color: #999;
  font-size: 8px;
}

.github:hover {
  color: #3c3c3c;
  transition: color 0.3s ease-in;
}

.chrome:hover {
  color: #ffd306;
  transition: color 0.3s ease-in;
}

.wp:hover {
  color: #003060;
  transition: color 0.3s ease-in;
}

.php:hover {
  color: #4b0091;
  transition: color 0.3s ease-in;
}

.node:hover {
  color: #6c6c6c;
  transition: color 0.3s ease-in;
}

.html:hover {
  color: #ff8040;
  transition: color 0.3s ease-in;
}

.css:hover {
  color: #0000c6;
  transition: color 0.3s ease-in;
}

.js:hover {
  color: #ffe153;
  transition: color 0.3s ease-in;
}

.bs:hover {
  color: #6f00d2;
  transition: color 0.3s ease-in;
}

.vue:hover {
  color: #01b468;
  transition: color 0.3s ease-in;
}

.rt:hover {
  color: #0080ff;
  transition: color 0.3s ease-in;
}

.fb:hover {
  color: #0072e3;
  transition: color 0.3s ease-in;
}

.medium:hover {
  color: #4f4f4f;
  transition: color 0.3s ease-in;
}

.web:hover {
  color: #80ffff;
  transition: color 0.3s ease-in;
}
